name: Renovate

on:
  pull_request:
    paths:
      - ".github/renovate.json"
      - ".github/renovate.json5"
      - "renovate.json"
      - "renovate.json5"

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup Node.js
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4
        with:
          node-version: latest

      # Hosted Renovate should use the latest available version, so always
      # install the newest version of Renovate
      - name: Install dependencies
        run: npm install -g renovate

      - name: Validate Renovate config
        run: renovate-config-validator --strict
